<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.learnandroid.shoppingmall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/atguigu_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/atguigu_logo"
        android:name=".app.MyApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".home.activity.GoodsListActivity"></activity>
        <activity android:name=".app.GoodsInfoActivity" />
        <activity android:name=".user.MessageCenterActivity" />
        <activity android:name=".app.MainActivity" />
        <activity android:name=".app.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>